.footer {
  margin-top: 35px;
  padding: 35px 0 35px 0;
  border-top:1px solid #000
}

.modal {
  width: 580px;
}

#generateKeyPairForm .input-large {
  height: 30px;
}

textarea {
  font-family: monospace;
}

#newPublicKey, #newPrivateKey {
  width: 650px;
  min-height: 400px;
}
